## Notebook to analyse Toronto neighborhood and clustering them baed on neighborhood features

In [1]:
# Importing necessary librarlie
import pandas as pd
import numpy as np

In [2]:
# Reading the tabel in wikipedia and saving them in a list
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list=pd.read_html(url)

In [3]:
# Number of tabels read

len(df_list)

3

In [4]:
# The first tabel is the one we need
df_list[0]

,Post Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [5]:
# Assign the dataframe to df

df= df_list[0]

In [7]:
# drop the rows with no assigned Borough
df=df[df['Borough']!='Not assigned']

In [9]:
# Combine rows with similar Borough
# Although it seems that the tabel in wikipedia page has already been modified to combile the neighborhood according to post code,
# there for this line of code will not change the dataframe.

df=df.groupby(['Post Code','Borough'])['Neighborhood'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

In [11]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df['Neighborhood']=np.where(df['Neighborhood'] == 'Not assigned',df['Borough'],df['Neighborhood'] )

In [14]:
df

    Post Code      Borough                                       Neighborhood
0         M1B  Scarborough                                     Malvern, Rouge
1         M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
..        ...          ...                                                ...
98        M9N         York                                             Weston
99        M9P    Etobicoke                                          Westmount
100       M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101       M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102       M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [15]:
df.shape

(103, 3)